body{
  font-family: monospace, sans-serif, Arial;
  background-color: #999;
  color: #fff;
  margin: 0;
}
/*
div, h1, h2, h3, p{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  border: 1px solid #777;
  padding: 10px;
}
*/
#top{
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  height: 800px;
}
#middle{
  position: relative;
  width: 100%;
  color: #0a0a0f;
  background-color: #f0f0f0;
  padding: 50px;
}
#bottom{
  width: 100%;
  padding: 50px;
  background-color: #3f3f5f;
}
.skew{
  transform: skew(15deg, 0)
}
.unskew{
  transform: skew(-15deg, 0);
}
.left{
  display: flex;
  background-color: #3f3f5f;
  transform: skew(15deg, 0);
  margin-left: -180px;
  padding-left: 260px;
  align-items: center;
}
#top .left{
  animation-name: slide-in-left;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

@keyframes slide-in-left{
  0%{transform: translateX(-100%) skew(0deg);}
  100%{transform: translateX(0) skew(15deg);}
}

#image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px;
  color: #0a0a0f;
}
img{
  width: 100%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  image-rendering: -moz-crisp-edges;
  image-rendering: optimize-contrast;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: -o-crisp-edges;https://bit2death.github.io/
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
iframe{
  width: 970px;
  height: 840px;
}
@media only screen and (max-width: 1160px){
  iframe{
    position: relative;
    left: 0;
    width: 100%;
  }
}

video{
  width: 800px;
  height: 800px;
}
h2{
  background-color: #3f5f4f;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 15, 30, 0.5);
}
#image img{
  width: 50%;
}
#Desk{
  width: 500px;
}
